
#essay .quire-page__content .container .content {
  background-image: url('../img/figures/wallpaper.jpg');
  background-size: 100%;
}


.quire #main {
  background-image: url('../img/figures/wallpaper.jpg');
  background-size: 100%;
}
.quire #preface #main {
  background-image: none;
}


.quire #menu-catalogue-index #main .quire-page__header.hero {
background-color: transparent;
}

.quire-page.quire-page--list.quire-page--frontmatter.quire-contents {
  background-image: url('../img/figures/wallpaper.jpg');
  background-size: 99%;
}

 .quire-page__header.hero {
   background-color: transparent;
 }

.quire-figure {
border-top-width: 0;
border-bottom-width: 0;
}

.hero-body .container.is-fluid {
display: none;
}
