.quire #cover{
  background-image: url(img/Spreadr_.jpg);
  background-size: 98%;
  }

.quire-page__content .container .content {
 brackground-color: none
}

.quire #main {
  background-image: url('../img/figures/wallpaper.jpg');
  background-size: 100%;
}
.quire #preface #main {
  background-image: none;
  background-color: #FFEBCD
}

.quire-page__content #preface #main .container .content {
background-color: #FFEBCD
}

.quire #cover #main {
  background-image: none;
}

.quire #mygrandma #main {
  background-image: none;
}

.quire #menu-catalogue-index #main .quire-page__header.hero {
background-color: transparent;
}

.quire-page.quire-page--list.quire-page--frontmatter.quire-contents {
  background-image: url('../img/figures/wallpaper.jpg');
  background-size: 99%;
}

 .quire-page__header.hero {
   background-color: transparent;
 }

.quire-figure {
border-top-width: 0;
border-bottom-width: 0;
}

.hero-body .container.is-fluid {
display: none;
}
